.elementExample{
    font-size: 20px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.elementExample_first{
    position: relative;
    top: 200px;
    background-color: blue;
}
.elementExample_last{
    background-color: rgb(179, 43, 111);
    position: relative;
}
.elementExample_isActive{
    z-index: 1;
}
